.navbar {
  background-color: #9642f5 !important;
}

header a.btn:hover {
  background-color: #9642f5 !important;
}

#indexMain {
  background-color: #9642f5 !important;
}

footer {
  background-color: #9642f5 !important;
}

#map {
  height: 450px;
}

@media (min-width: 768px) {
  #map {
    height: 100%;
  }
}
